<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>Engine Noise Classifier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>
      <img src="/logo/log.png" alt="" width="378" height="120">
    </h1>

    <div id="controls">
     <button id="recordButton">Record</button>
    </div>
    <h1 id='result'></h1>
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="/static/app.js"></script>
  </body>
</html>